<h1><%= @post.title%></h1>
<p><%= @post.body %></p>
<hr>
<%= link_to "Редагувати", edit_post_path(@post), :class => "btn btn-warning" %>

<%= button_to "Видалити", post_path(@post), method: :delete, data: {confirm: "Ви точно хочете видалити пост?"}, :class => 'btn btn-danger' %>